name: CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  unit-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn build
    - run: yarn test --coverage --watchAll=false
    - uses: codecov/codecov-action@v1
      with:
        flags: unitests
  
  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        browser: [chrome, firefox]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - run: yarn install --network-timeout 1000000
    - run: yarn build:instrumentation
    - name: Cypress run
      uses: cypress-io/github-action@v2
      with:
        record: true
        tag: ${{ matrix.os }}-${{ matrix.browser }}
        start: yarn run xsender:all
        wait-on: 'http://localhost:3000'
        wait-on-timeout: 120
        config: pageLoadTimeout=100000
        browser: ${{ matrix.browser }}
      env:
        CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: e2e-screenshots-${{ matrix.os }}-${{ matrix.browser }}
        path: cypress/screenshots
    - uses: actions/upload-artifact@v1
      if: always()
      with:
        name: e2e-videos-${{ matrix.os }}-${{ matrix.browser }}
        path: cypress/videos
    - uses: codecov/codecov-action@v1
      with:
        flags: e2etests
  
  e2e-edge:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - run: yarn install --network-timeout 1000000
    - run: yarn build:instrumentation
    - name: Cypress run
      uses: cypress-io/github-action@v2
      with:
        record: true
        tag: windows-edge
        start: yarn run xsender:all
        wait-on: 'http://localhost:3000'
        wait-on-timeout: 120
        config: pageLoadTimeout=100000
        browser: edge
      env:
        CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: e2e-screenshots-windows-edge
        path: cypress/screenshots
    - uses: actions/upload-artifact@v1
      if: always()
      with:
        name: e2e-videos-chrome-windows-edge
        path: cypress/videos